.room-scene {
    width: 100%;
    height: 100%;
}

.room-scene-placeholder {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #999;
}
