.room-editor {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: #ffffff; /* pCon temiz beyaz arka plan */
    overflow: hidden;
}

.main-layout {
    display: flex;
    flex: 1; /* Üst bardan kalan her şeyi doldur */
    flex-direction: row;
    position: relative;
    width: 100%;
}

.canvas-container {
    flex: 1; /* Sol bar ve Sağ panel arasındaki tüm alanı kapla */
    height: 100%;
    background: #fdfdfd; /* Canvas zemini */
    position: relative;
    overflow: hidden;
}
